.banner_type_2 .inner{
    padding: 10px;
}

/*.quick_view {bottom: 50px; }*/
.product_label{
    /*position:fixed; */
    display: block;
    left: -8px; 
    top: -30px; 
    width:120px; 
    height:30px; 
    z-index:3; 
    -webkit-backface-visibility:hidden;
}
.product_flag{
    position:absolute; 
    right: -8px; 
    top:-30px; 
    height:30px; 
    z-index:3; 
    -webkit-backface-visibility:hidden;
}

.frame_container{
    border:1px solid #e5e5e5;
    padding: 10px;
}

.frame_container::before {
    content:"";
    display:block;
    position: absolute;
    border:1px solid #e5e5e5;
    right:0px;
    left:0px;
    top:0px;
    bottom:0px;
    opacity: 0;
    -webkit-backface-visibility:hidden;
    -webkit-transition:opacity .5s ease;
    -moz-transition:opacity .5s ease;
    -o-transition:opacity .5s ease;
    transition:opacity .5s ease;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2,
.col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4,
.col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7,
.col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9,
.col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12,
.col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 12px;
    padding-right: 0px
}

figure > div > hr {
    display: block; 
    height: 1px; 
    border: 0; 
    border-top: 1px solid #ccc; 
    margin-top: 2em; 
    padding: 0;
}

figcaption  hr {
    display: block; 
    height: 1px; 
    border: 0; 
    border-top: 1px solid #ccc; 
    margin-bottom: 0.5em !important; 
    padding: 0;
}