#search_block_top {
  clear: right;
  padding: 5px;
  background: #9d9073;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  float: right;
  margin-top: 5px;
  width: 280px;
}
@media (max-width: 767px) {
  #search_block_top {
    float: none !important;
    margin-top: 110px;
    margin-bottom: 18px;
    width: 100%;
  }
}
@media (max-width: 319px) {
  #search_block_top {
    margin-top: 120px;
  }
}
#search_block_top #searchbox {
  float: left;
  width: 100%;
}
#search_block_top .btn.button-search {
  background: #fe8b1a;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #fe8b1a 0%, #ffa145 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(0%, #fe8b1a), color-stop(100%, #ffa145));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1e5799 0%, #fe8b1a 0%, #ffa145 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1e5799 0%, #fe8b1a 0%, #ffa145 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1e5799 0%, #fe8b1a 0%, #ffa145 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1e5799 0%, #fe8b1a 0%, #ffa145 100%);
  /* W3C */
  filter: none;
  /* IE6-9 */
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  color: white;
  width: 38px;
  text-align: center;
  padding: 1px 0 2px;
}
#search_block_top .btn.button-search span {
  display: none;
}
#search_block_top .btn.button-search:before {
  content: "\f002";
  display: block;
  font-family: "FontAwesome";
  font-size: 20px;
  width: 100%;
  text-align: center;
}
#search_block_top .btn.button-search:hover {
  color: white;
}
#search_block_top #search_query_top {
  display: inline;
  padding: 0 44px 0 6px;
  height: 32px;
  background: white;
  margin-right: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  color: #C6C4BF;
}

.ac_results {
  background: white;
  border: 1px solid #eeeade;
  width: 271px;
  margin-top: -1px;
}
.ac_results li {
  padding: 0 10px;
  font-weight: normal;
  color: #686666;
  font-size: 13px;
  line-height: 22px;
}
.ac_results li.ac_odd {
  background: white;
}
.ac_results li:hover, .ac_results li.ac_over {
  background: #f6f3eb;
}

form#searchbox {
  position: relative;
}
form#searchbox label {
  color: #7f7355;
}
form#searchbox input#search_query_block {
  margin-right: 10px;
  max-width: 222px;
  margin-bottom: 10px;
  display: inline-block;
  float: left;
}
form#searchbox .button.button-small {
  float: left;
}
form#searchbox .button.button-small i {
  margin-right: 0;
}
