#currencies-block-top {
  float: left;
  position: relative;
}
@media (max-width: 767px) {
  #currencies-block-top {
    background: #9CC947;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 25%;
    left: 25%;
    z-index: 959;
    border-right: 1px solid #fff;
  }
}
@media (max-width: 479px) {
  #currencies-block-top {
    width: 25%;
  }
}
#currencies-block-top span.firstWord {
  display: none;
}
#currencies-block-top div.current {
  font-weight: normal;
  padding: 3px 10px 3px 10px;
  color: #7f7355;
  cursor: pointer;
  line-height: 18px;
}
#currencies-block-top div.current strong {
  font-weight: normal;
}
@media (max-width: 767px) {
  #currencies-block-top div.current {
    padding: 10px 10px 11px;
    color: white;
  }
}
@media (max-width: 479px) {
  #currencies-block-top div.current {
    text-align: center;
    padding: 9px 5px 10px;
    font-size: 11px;
  }
}
#currencies-block-top div.current:hover, #currencies-block-top div.current.active {
  color: #ffa145;
}
#currencies-block-top div.current:after {
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 16px;
  line-height: 16px;
  vertical-align: -1px;
  padding-left: 4px;
}
@media (max-width: 479px) {
  #currencies-block-top div.current:after {
    display: none;
  }
}
#currencies-block-top div.current .cur-label {
  display: none;
}
@media (max-width: 767px) {
  #currencies-block-top div.current .cur-label {
    display: none;
  }
}
#currencies-block-top .active:after {
  content: "\f106" !important;
  font-family: "FontAwesome";
}
#currencies-block-top ul {
  display: none;
  position: absolute;
  top: 26px;
  left: 0;
  width: 157px;
  background: #f4f1e7;
  border: 1px solid #eeeade;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  z-index: 2;
}
@media (max-width: 767px) {
  #currencies-block-top ul {
    width: 100%;
    top: 37px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
  }
}
@media (max-width: 479px) {
  #currencies-block-top ul {
    width: 130px;
  }
}
#currencies-block-top ul li {
  color: white;
  line-height: 25px;
  font-size: 13px;
}
#currencies-block-top ul li a,
#currencies-block-top ul li > span {
  padding: 0 10px 0 12px;
  display: block;
  color: #7f7355;
}
#currencies-block-top ul li.selected a, #currencies-block-top ul li:hover a {
  color: #ffa145;
}
