/*******************************************************************
					Cart Block Styles
********************************************************************/
#header .shopping_cart {
  position: relative;
  float: right;
    background: #8DB831;
  /* Old browsers */
  background: -moz-linear-gradient(top, #8db831 0%, #59962b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8db831), color-stop(100%, #59962b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #8db831 0%, #59962b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #8db831 0%, #59962b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #8db831 0%, #59962b 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #8db831 0%, #59962b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8DB831', endColorstr='#59962B',GradientType=0 );
  /* IE6-9 */

}
@media (max-width: 767px) {
  #header .shopping_cart {
    padding-top: 0px;
	background:none;
  }
}
@media (max-width: 767px) {
  #header .shopping_cart .ajax_cart_product_txt {
    display: none;
  }
}
@media (max-width: 767px) {
  #header .shopping_cart .ajax_cart_product_txt_s {
    display: none;
  }
}
@media (max-width: 767px) {
  #header .shopping_cart .ajax_cart_no_product, #header .shopping_cart .ajax_cart_quantity {
    display: none;
  }
}
#header .shopping_cart a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  text-align: center;
}
#header .shopping_cart > a:first-child:after {
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 14px;
  color: white;
  padding: 6px 0 0 4px;
  position: relative;
  top: 0;
}
@media (max-width: 767px) {
  #header .shopping_cart > a:first-child:after {
    content: "";
  }
}
#header .shopping_cart > a:first-child:hover:after {
  content: "\f106";
  padding: 4px 0px 2px 4px;
}
@media (max-width: 767px) {
  #header .shopping_cart > a:first-child:hover:after {
    content: "";
  }
}

.shopping_cart {
  width: auto;
}
@media (max-width: 480px) {
  .shopping_cart {
    padding-top: 20px;
  }
}
@media (max-width: 1200px) {
  .shopping_cart {
    margin: 0 auto;
    float: none;
    width: 100%;
  }
}
.shopping_cart > a:first-child {
  padding: 11px 15px;
  display: block;
  color: white;
    background: url("../../../img/cart.png") no-repeat scroll 18px center;

  overflow: hidden;
  /*		&:before {
  			content: "\f07a";
  			font-family: $font-icon;
  			display: inline-block;
  			font-size: 23px;
  			line-height: 23px;
  			padding-right: 10px;
  			@media (max-width: $screen-xs-max) { // max 767px
  				color:#FFF;
  				font-size:15px;
  			}
  			@media (max-width: $screen-xs - 1) { // max 479px
  				display:none;
  			}
  		}*/
}
@media (max-width: 767px) {
  .shopping_cart > a:first-child {
    padding: 7px;
    color: #FFF;
	background-position:center center;
  }
}
@media (max-width: 479px) {
  .shopping_cart > a:first-child {
    padding: 6px 7px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .shopping_cart > a:first-child span.ajax_cart_product_txt, .shopping_cart > a:first-child span.ajax_cart_product_txt_s {
    display: none !important;
  }
}
.shopping_cart > a:first-child b {
  font: 14px/22px "Open Sans", sans-serif;
  padding-right: 5px;
  padding-left: 35px;
}
@media (max-width: 767px) {
	.shopping_cart > a:first-child b{display:none;}
}
.shopping_cart .ajax_cart_total {
  display: none !important;
}
.shopping_cart .block_cart_expand:after, .shopping_cart .block_cart_collapse:after {
  content: "\f0d7";
  font-family: "FontAwesome";
  display: inline-block;
  float: right;
  font-size: 18px;
  color: #686666;
  padding: 6px 0 0 10px;
}
.shopping_cart .block_cart_collapse:after {
  content: "\f0d8";
  padding: 4px 0px 2px 0px;
}

.cart_block .cart_block_list .remove_link {
  position: absolute;
  right: 10px;
  top: 10px;
}
.cart_block .cart_block_list .remove_link a,
.cart_block .cart_block_list .ajax_cart_block_remove_link {
  color: #7f7355;
  display: block;
  width: 100%;
  height: 100%;
}
.cart_block .cart_block_list .remove_link a:before,
.cart_block .cart_block_list .ajax_cart_block_remove_link:before {
  display: inline-block;
  content: "\f057";
  font-family: "FontAwesome";
  font-size: 18px;
  line-height: 18px;
}
.cart_block .cart_block_list .remove_link a:hover,
.cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
  color: #ffa145;
}
.cart_block .cart-images {
  float: left;
  margin-right: 12px;
}
.cart_block .cart-info {
  overflow: hidden;
  position: relative;
  padding-right: 20px;
}
.cart_block .cart-info .product-name {
  padding-bottom: 5px;
  margin-top: -4px;
}
.cart_block .cart-info .product-name a {
  font-size: 13px;
  line-height: 18px;
  text-align: left !important;
  display: inline-block;
}
.cart_block .cart-info .quantity-formated {
  display: inline-block;
  color: #9c9b9b;
  text-transform: uppercase;
  font-size: 10px;
  padding-right: 5px;
}
.cart_block .cart-info .quantity-formated .quantity {
  font-size: 15px;
}
.cart_block dt {
  font-weight: normal;
  overflow: hidden;
  padding: 20px 10px 16px 20px;
  position: relative;
}
.cart_block dd {
  position: relative;
}
.cart_block dd .cart_block_customizations {
  border-top: 1px dashed #9d9073;
}
.cart_block dd .cart_block_customizations li {
  padding: 10px 20px;
}
.cart_block dd .cart_block_customizations li .deleteCustomizableProduct {
  position: absolute;
  right: 10px;
}
.cart_block .cart_block_no_products {
  margin: 0;
  padding: 10px 20px;
}
.cart_block .cart-prices {
  border-top: 1px solid #eeeade;
  font-weight: bold;
  padding: 10px 20px 22px 20px;
}
.cart_block .cart-prices .cart-prices-line {
  overflow: hidden;
  border-bottom: 1px solid #eeeade;
  padding: 7px 0;
}
.cart_block .cart-prices .cart-prices-line.last-line {
  border: none;
}
.cart_block .cart-buttons {
  overflow: hidden;
  padding: 20px 20px 10px 20px;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .cart_block .cart-buttons {
    padding: 20px 5px 10px 5px;
  }
}
.cart_block .cart-buttons a {
  width: auto;
  float: right;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 10px;
}
.cart_block .cart-buttons a#button_order_cart {
  margin-right: 0;
  margin: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.cart_block .cart-buttons a#button_order_cart span {
  padding: 6px 10px;
}

/*******************************************************************
					Cart Block(Header) Styles
********************************************************************/
#header .cart_block {
  position: absolute;
  top: 48px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  right: 0;
  z-index: 100;
  display: none;
  height: auto;
  background: #f6f3eb;
  border: 1px solid #eeeade;
  width: 270px;
}
@media (max-width: 767px) {
  #header .cart_block {
    top: 40px;
  }
}
@media (max-width: 319px) {
  #header .cart_block {
    width: 220px;
  }
}
#header .cart_block .cart_block_list .remove_link a,
#header .cart_block .cart_block_list .ajax_cart_block_remove_link {
  outline: none;
  text-decoration: none;
}
#header .cart_block .cart_block_list .remove_link a:hover,
#header .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
  color: #ffa145;
}
#header .cart_block dl {
  margin-bottom: 5px;
}
#header .cart_block dt {
  border-bottom: 1px solid #eeeade;
  padding: 10px;
}
#header .cart_block dt.first_item {
  background: none;
}
#header .cart_block .product-atributes {
  padding-bottom: 10px;
  font-size: 11px;
}
#header .cart_block .product-atributes a {
  color: #7f7355;
}
#header .cart_block .product-atributes a:hover {
  color: #ffa145;
}
#header .cart_block .cart-prices {
  border: none;
  padding: 5px 10px;
}
#header .cart_block .cart-buttons {
  padding: 12px 10px;
}
#header .block_content {
  margin-bottom: 0;
}

.cart_block #cart_block_summary,
.cart_block .title_block span,
#header .cart_block h4,
#header .cart_block .title_block,
#header .cart_block h4 {
  display: none;
}

.cart_block .cart_block_shipping_cost,
.cart_block .cart_block_tax_cost,
.cart_block .cart_block_total,
.cart_block .cart_block_wrapping_cost {
  float: right;
}

.cart_block table.vouchers {
  clear: both;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.cart_block table.vouchers tr td {
  padding: 2px;
}
.cart_block table.vouchers tr td.quantity {
  margin-right: 5px;
  min-width: 18px;
}
.cart_block table.vouchers tr td.delete {
  padding-left: 0;
  padding-right: 0;
  text-align: right;
  width: 15px;
}

/*****************************************************************************
					Layer Cart Css
*****************************************************************************/
.layer_cart_overlay {
  background-color: #000;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}

* html .layer_cart_overlay {
  position: absolute;
  left: 0;
  margin-left: -160px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}

#layer_cart {
  background-color: white;
  position: absolute;
  display: none;
  z-index: 99999;
  width: 85%;
  margin-right: 8%;
  margin-left: 8%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
#layer_cart .layer_cart_product {
  padding: 30px 30px 30px 30px;
  overflow: hidden;
  position: static;
}
#layer_cart .layer_cart_product h2 {
  font: 18px/22px "Open Sans", verdana, Helvetica, sans-serif;
  color: #ffa145;
  margin-bottom: 22px;
}
@media (max-width: 767px) {
  #layer_cart .layer_cart_product h2 {
    font-size: 18px;
    padding-right: 0;
    line-height: normal;
  }
}
#layer_cart .layer_cart_product h2 i {
  font-size: 30px;
  line-height: 30px;
  float: left;
  padding-right: 8px;
}
@media (max-width: 767px) {
  #layer_cart .layer_cart_product h2 i {
    font-size: 22px;
    line-height: 22px;
  }
}
#layer_cart .layer_cart_product .product-image-container {
  max-width: 178px;
  border: 1px solid #eeeade;
  padding: 5px;
  float: left;
  margin-right: 30px;
}
@media (max-width: 480px) {
  #layer_cart .layer_cart_product .product-image-container {
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
#layer_cart .layer_cart_product .layer_cart_product_info {
  padding: 15px 0 0 0;
}
#layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_title {
  display: block;
  padding-bottom: 8px;
}
#layer_cart .layer_cart_product .layer_cart_product_info > div {
  padding-bottom: 7px;
}
#layer_cart .layer_cart_product .layer_cart_product_info > div strong {
  padding-right: 3px;
}
#layer_cart .layer_cart_cart {
  border-left: 1px solid #eeeade;
  padding: 21px 30px 170px 30px;
  -webkit-border-radius: 0px 4px 4px 0px;
  -moz-border-radius: 0px 4px 4px 0px;
  -ms-border-radius: 0px 4px 4px 0px;
  -o-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
  position: relative;
}
@media (min-width: 1200px) {
  #layer_cart .layer_cart_cart {
    min-height: 318px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #layer_cart .layer_cart_cart {
    min-height: 360px;
  }
}
@media (max-width: 991px) {
  #layer_cart .layer_cart_cart {
    border-left: none;
    border-top: 1px solid #eeeade;
  }
}
#layer_cart .layer_cart_cart h2 {
  font: 18px/22px "Open Sans", verdana, Helvetica, sans-serif;
  color: #ffa145;
  border-bottom: 1px solid #eeeade;
  padding-bottom: 13px;
  margin-bottom: 17px;
}
@media (max-width: 767px) {
  #layer_cart .layer_cart_cart h2 {
    font-size: 18px;
  }
}
#layer_cart .layer_cart_cart .layer_cart_row {
  padding: 0 0 7px 0;
}
#layer_cart .layer_cart_cart .button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px 30px 20px 30px;
}
#layer_cart .layer_cart_cart .button-container .btn {
  margin-bottom: 10px;
}
#layer_cart .layer_cart_cart .button-container span.exclusive-medium {
  margin-right: 5px;
}
#layer_cart .layer_cart_cart .button-container span.exclusive-medium i {
  padding-right: 5px;
}
#layer_cart .cross {
  position: absolute;
  right: 7px;
  top: 8px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: #7f7355;
  z-index: 2;
}
#layer_cart .cross:before {
  content: "\f057";
  display: block;
  font-family: "FontAwesome";
  font-size: 25px;
  line-height: 25px;
}
#layer_cart .cross:hover {
  color: #ffa145;
}
#layer_cart .continue {
  cursor: pointer;
}
#layer_cart p {
  padding: 0px;
}

/************************************************************************
						Layer Cart Caroucel
*************************************************************************/
#layer_cart .crossseling .crossseling-content {
  border-top: 1px solid #eeeade;
  padding: 26px 30px 40px 30px;
  position: relative;
}
#layer_cart .crossseling h2 {
  font: 18px/22px "Open Sans", verdana, Helvetica, sans-serif;
  color: #ffa145;
  margin-bottom: 25px;
}
#layer_cart .crossseling #blockcart_list {
  max-width: 773px;
  width: 68%;
  margin: 0 auto;
  overflow: hidden;
}
#layer_cart .crossseling #blockcart_list ul {
  display: block;
}
#layer_cart .crossseling #blockcart_list ul li {
  float: left;
  width: 178px;
  margin: 0 0px 0 0;
}
#layer_cart .crossseling #blockcart_list ul li .product-image-container {
  border: 1px solid #eeeade;
  text-align: center;
  padding: 5px;
  margin-bottom: 15px;
}
#layer_cart .crossseling #blockcart_list ul li .product-image-container img {
  width: 100%;
}
#layer_cart .crossseling #blockcart_list ul li .product-name {
  padding-bottom: 5px;
  text-align: center;
}
#layer_cart .crossseling #blockcart_list ul li .product-name a {
  font-size: 15px;
  line-height: 20px;
}
#layer_cart .crossseling #blockcart_list a.bx-prev,
#layer_cart .crossseling #blockcart_list a.bx-next {
  display: block;
  font-family: "FontAwesome";
  font-size: 20px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  color: #7f7355;
  text-indent: -5000px;
  position: absolute;
  top: 45%;
  margin-top: -20px;
}
#layer_cart .crossseling #blockcart_list a.bx-prev:after,
#layer_cart .crossseling #blockcart_list a.bx-next:after {
  display: block;
  text-indent: 0;
}
#layer_cart .crossseling #blockcart_list a.bx-prev:hover,
#layer_cart .crossseling #blockcart_list a.bx-next:hover {
  color: #ffa145;
}
#layer_cart .crossseling #blockcart_list a.bx-prev.disabled,
#layer_cart .crossseling #blockcart_list a.bx-next.disabled {
  display: none;
}
#layer_cart .crossseling #blockcart_list a.bx-prev {
  left: 5%;
}
#layer_cart .crossseling #blockcart_list a.bx-prev:after {
  content: "\f137";
}
#layer_cart .crossseling #blockcart_list a.bx-next {
  right: 5%;
}
#layer_cart .crossseling #blockcart_list a.bx-next:after {
  content: "\f138";
}
#layer_cart .crossseling #blockcart_list .bx-controls {
  overflow: hidden;
}

#header .header_cart {
  float: right;
  padding: 0;
  width: auto;
  position: absolute;
  top: 114px;
  right: 0px;
  z-index: 9;
  @incldue border-radius(5px 5px 0 0 );
}
@media (max-width: 991px) {
  #header .header_cart {
    top: 132px;
  }
}
@media (max-width: 767px) {
  #header .header_cart {
    padding: 0;
    position: absolute;
    right: 0px;
    top: 155px;
    width: 25%;
    background: #9CC947;
  }
}

.ie8 header .row #header_logo {
  float: right !important;
}
