#header_links {
  list-style-type: none;
  float: right;
  margin: 5px 0;
  clear: both;
  padding: 0 10px;
}
@media (max-width: 767px) {
  #header_links {
    width: 100%;
    padding: 0;
    display: none;
    text-align: left;
    margin: 0;
    border: 1px solid #eeeade;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
  }
}
@media (max-width: 479px) {
  #header_links {
    width: 130px;
    background: #f4f1e7;
    margin: 0;
  }
}
#header_links li {
  float: left;
  padding: 0px 8px;
  border-left: 1px solid #999;
  line-height: 14px;
}
@media (max-width: 767px) {
  #header_links li {
    width: 100%;
    float: none;
    border: none;
    padding: 3px 8px;
    line-height: 22px;
    text-align: center;
  }
}
#header_links li:first-child {
  border: none;
}
#header_links li a {
  text-decoration: none;
}
#header_links li a:hover {
  text-decoration: none;
}

/*block permanent links right and left columns*/
#permanent_links div {
  border-bottom: 1px dotted #eee;
}
#permanent_links div a {
  display: block;
  padding: 7px 11px 5px 22px;
  color: #333;
  background: url(img/arrow_right_2.png) no-repeat 10px 10px;
}

/* block footer links */
ul#footer_links {
  clear: both;
  text-align: center;
  padding-bottom: 6px;
}
ul#footer_links li {
  display: inline;
  padding: 0 10px;
}

.header_permentlink {
  float: right;
}
@media (max-width: 767px) {
  .header_permentlink {
    background: #f4f1e7;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 25%;
    z-index: 95;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
  }
}
.header_permentlink .tm_permenu_inner {
  cursor: pointer;
  display: none;
}
@media (max-width: 767px) {
  .header_permentlink .tm_permenu_inner {
    display: block;
    background: #9CC947;
    border-right: 1px solid #fff;
  }
}
.header_permentlink .tm_permenu_inner .headertoggle_img:before {
  content: "\f039";
  display: block;
  font-family: "FontAwesome";
  font-size: 17px;
  color: white;
  position: relative;
  top: 12px;
  line-height: 15px;
}
@media (max-width: 479px) {
  .header_permentlink .tm_permenu_inner .headertoggle_img:before {
    line-height: 13px;
  }
}
