#tmcmsinfo_block		
{
/*	background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #E2E2E2;
    padding:5px 0 10px 0 ;
	margin:10px 0;
	clear:both;*/
	float:left;
	width:31%;
}
.footer_aboutus img
{
	margin-right:8px;
}

#tmcmsinfo_block .readmore_btn a{
		color:#fff;
		border:none;
		background: #FFA145 ;/* Old browsers */
		background: -moz-linear-gradient(top,  #FFA145 0%, #FE8B1A 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFA145), color-stop(100%,#FE8B1A)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #FFA145 0%,#FE8B1A 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #FFA145 0%,#FE8B1A 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #FFA145 0%,#FE8B1A 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #FFA145 0%,#FE8B1A 100%); /* W3C */
		filter: none;
		margin-top:7px;
		padding:5px 10px;
		border-radius:5px;
}

#tmcmsinfo_block .readmore_btn a:hover
{
	color:#fff;
}
@media (max-width: 767px)
{
#tmcmsinfo_block{width:100%;}
/*.footer_aboutus h4{padding-bottom:5px !important; border-bottom:1px solid #E2DCC8;}*/

}